.overlay {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba($color: #000000, $alpha: .5);
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    overflow: hidden;
    transition: visibility .3s ease-in-out;
}

.overlayVisible {
    visibility: visible;

    .drawer {
        transform: translateX(0);
    }
}

.drawer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #fff;
    position: fixed;
    right: 0;
    width: 420px;
    height: 100%;
    box-shadow: -10px 4px 24px rgba($color: #000000, $alpha: .1);
    transform: translateX(100%);
    transition: transform .3s ease-in-out;

    .items {
        overflow: auto;
        margin-bottom: 40px;
    }

    h2 {
        margin: 0;
    }
}